.ova-testimonial-6{
	padding: 85px 50px 40px 50px;
	position: relative;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	background: #fff;
	.background-img {
		position: absolute;
		content: "";
		width: 100%;
		height: 92px;
		top: 0;
		left: 0;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		z-index: 1;
	}

	.author {
		margin-top: 48px;
		display: flex;
		align-items: center;
		gap: 20px;
		@media screen and (max-width: 480px) {
			flex-direction: column;
			text-align: center;
		}
		.name {
			margin: 0;
			font-size: 24px;
			line-height: 1;
		}
		.job {
			margin: 0;
			font-size: 15px;
			font-weight: 500;
			line-height: 1;
			margin-top: 10px;
		}

		.rating{
			margin-top: 10px;
			.elementor-star-rating{
				display: inline-flex;
				column-gap: 4px;
				font-size: 18px;
				color: #ccd6df;
				font-family: eicons;
				.elementor-star-full{
					&::before{
						content: "\e934";
						display: block;
						font-size: inherit;
						font-family: inherit;
						position: absolute;
						color: #FFBF48;
						top: 0;
						left: 0;
					}
				}
				i{
					display: inline-block;
					position: relative;
					font-style: normal;
					cursor: default;
					line-height: 100%;
					vertical-align: middle;
					font-family: eicons;
					&::before{
						display: block;
						font-size: inherit;
						font-family: inherit;
						position: absolute;
						overflow: hidden;
						color: #FFBF48;
						top: 0;
						left: 0;
					}
				}
				i.elementor-star-1{
					&::before{
						content: "\e934";
						width: 10%;
					}
				}
				i.elementor-star-2{
					&::before{
						content: "\e934";
						width: 20%;
					}
				}
				i.elementor-star-3{
					&::before{
						content: "\e934";
						width: 30%;
					}
				}
				i.elementor-star-4{
					&::before{
						content: "\e934";
						width: 40%;
					}
				}
				i.elementor-star-5{
					&::before{
						content: "\e934";
						width: 50%;
					}
				}
				i.elementor-star-6{
					&::before{
						content: "\e934";
						width: 60%;
					}
				}
				i.elementor-star-7{
					&::before{
						content: "\e934";
						width: 70%;
					}
				}
				i.elementor-star-8{
					&::before{
						content: "\e934";
						width: 80%;
					}
				}
				i.elementor-star-9{
					&::before{
						content: "\e934";
						width: 90%;
					}
				}
			}
		}
	}

	.img {
		position: relative;
		min-width: 40px;
		img {
			display: block;
			width: 100px;
			min-width: 100px;
			height: 100px;
			border-radius: 50%;
			object-fit: cover;
			object-position: center;
			position: relative;
		}

		.icon {
			position: absolute;
			z-index: 9;
			top: -7px;
			left: -5px;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background: var(--secondary);
			display: inline-flex;
			justify-content: center;
			align-items: center;
			i {
				color: #fff;
				font-size: 16px;
			}

			svg {
				fill: #fff;
				width: 16px;
				height: 16px;
			}
		}
	}

	.desc {
		margin: 0;
		font-size: 19px;
		font-weight: 500;
		border-bottom: 1px solid #e6e8ed;
		padding-bottom: 30px;
	}
}