.ova-testimonial-5{
	padding: 43px 45px 35px;
	background-color: #fff;
	border-radius: 10px;
	border-bottom: 6px solid #DEE0E7; 
	box-shadow: 0px -5px 15px rgba(43, 89, 255, 0.04);
	@media(max-width: 1149px){
		border-color: var(--primary);
	}

	&.active {
		border-bottom-color: var(--primary);
	}

	.wrap-evaluate{
		display: flex;
		flex-wrap: wrap;
		justify-content:space-between;

		.evaluate{
			.text{
				font-weight: 600;
				color: var(--heading);
				margin: 0 0 6px 0;
			}
			.rating{
				.elementor-star-rating{
					display: inline-flex;
					font-size: 16px;
					color: #ccd6df;
					font-family: eicons;
					.elementor-star-full{
						&::before{
							content: "\e934";
							display: block;
							font-size: inherit;
							font-family: inherit;
							position: absolute;
							color: #FFBF48;
							top: 0;
							left: 0;
						}
					}
					i{
						display: inline-block;
						position: relative;
						font-style: normal;
						cursor: default;
						line-height: 100%;
						vertical-align: middle;
						font-family: eicons;
						&::before{
							display: block;
							font-size: inherit;
							font-family: inherit;
							position: absolute;
							overflow: hidden;
							color: #FFBF48;
							top: 0;
							left: 0;
						}
					}
					i.elementor-star-1{
						&::before{
							content: "\e934";
							width: 10%;
						}
					}
					i.elementor-star-2{
						&::before{
							content: "\e934";
							width: 20%;
						}
					}
					i.elementor-star-3{
						&::before{
							content: "\e934";
							width: 30%;
						}
					}
					i.elementor-star-4{
						&::before{
							content: "\e934";
							width: 40%;
						}
					}
					i.elementor-star-5{
						&::before{
							content: "\e934";
							width: 50%;
						}
					}
					i.elementor-star-6{
						&::before{
							content: "\e934";
							width: 60%;
						}
					}
					i.elementor-star-7{
						&::before{
							content: "\e934";
							width: 70%;
						}
					}
					i.elementor-star-8{
						&::before{
							content: "\e934";
							width: 80%;
						}
					}
					i.elementor-star-9{
						&::before{
							content: "\e934";
							width: 90%;
						}
					}
				}
			}
		}
		.quote{
			margin: -2px 0 0 0;
			i{
				font-size: 64px;
				display: inline-flex;
				color: var(--primary);
			}
		}
	}

	.content{
		color: var(--heading);
		margin: 25px 0 43px 0;
	}

	.info{
		display: inline-flex;
		align-items:center;

		.author-image{
			margin: 0 20px 0 0;

			img{
				width: 60px;
				min-width: 60px;
				height: 60px;
				border-radius: 50%;
				object-fit: cover;
			}
		}
		.name-job{
			.name{
				font-weight: 700;
				color: #000B33;
				line-height: 1.3;
				margin: 0 0 10px 0;
			}
			.job{
				font-size: 14px;
				font-weight: 400;
				line-height: 1.6;
			}
		}
	}

	p{
		margin: 0;
	}

}